@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: #99bac7 transparent;
  scrollbar-width: thin;
}

html {
  overflow-x: hidden;
}

.shadowb{
  mask-image: linear-gradient(black 80%, transparent)
}
.shadowt{
  mask-image: linear-gradient( to bottom,
    transparent,
    black 10%)
}

.text-linea-b > p{
 padding-bottom: 16px;
}