@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: #99bac7 transparent;
  scrollbar-width: thin;
}

html {
  overflow-x: hidden;
}

.shadow{
  mask-image: linear-gradient(black 80%, transparent)
}